#banner {
    background-color: #55A3AB;
}

#pokeImage {
    height: 40px;
    width: 100px;
}

#body {
    background-color: #A2D7D5;
    padding: 40px;
    margin-top: 20px;
}

#wrapper {
    text-align: center;
}

#pokeList {
   
    display: inline-block;
}